{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include "Sidebar_presales.html" %}

<!-- Button -->

<div class="col-lg-9 col-xl-10 ">
    <div class="panel panel--loose panel--raised  base-margin">
        <div class="text-center">
            <label class="text-size-32 text-secondary">Calculate RF Assessment No of Hours Required</label>
        </div>
        <hr>
        <div class="section">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="stick_deployment" class="checkbox">
                        <input type="checkbox" name="stick_deployment"  id="stick_deployment" >
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">AP on stick Deployment (Pre-Deployment)</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="Predictive" class="checkbox">
                        <input type="checkbox" name="Predictive"  id="Predictive" >
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">Predictive</span>
                    </label>
                </div>
                <div class="form-group">
                    <label for="post_deployment" class="checkbox">
                        <input type="checkbox" name="post_deployment"  id="post_deployment" >
                        <span class="checkbox__input"></span>
                        <span class="checkbox__label">Post Deployment Suvery</span>
                    </label>
                </div>
                <div class="form-group">
                    <div class="form-group__text">
                        <input id="input-type-number" type="number" >
                        <label for="input-type-number">Total No of sites</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__text">
                        <input name="user_input" id="user_input" type="number" >
                        <label for="user_input">Total Area of All the sites (in sq ft)</label>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn--primary base-margin " type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}