<nav class="sidebar hidden-md-down dbl-margin-top" role="navigation">
    <div class="base-margin">    
    <ul id="rootSidebar">
        <li class="sidebar__item">
            <a  href="{% url 'rf_assessment' %}" tabindex="0" title="Alerts">
                <span>
                    <span class="badge-wrapper">
                        <span class="
                        icon-wifi"></span>
                    </span>
                </span>
                <span>&nbsp;RF Assessment</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="Alerts">
                <span>
                    <span class="badge-wrapper">
                        <span class="icon-contract-login"></span>
                    </span>
                </span>
                <span>PDI</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="Alerts">
                <span>
                    <span class="badge-wrapper">
                        <span class="icon-cloud-config-48"></span>
                    </span>
                </span>
                <span>Migration</span>
            </a>
        </li>
    </ul>
</div>
</nav>