<nav class=" sidebar hidden-md-down dbl-margin-top" role="navigation">
    <div class="base-margin">    
    <ul id="rootSidebar">
        <li class="sidebar__item">
            <a href="{% url 'srd' %}" tabindex="0" title="Alerts">
                <span>
                    <span class="badge-wrapper">
                        <span class="icon-contract-login"></span>
                    </span>
                </span>
                <span>SRD Requirement</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a href="{% url 'nip' %}" tabindex="0" title="Alerts">
                <span>
                    <span class="badge-wrapper">
                        <span class="icon-contract-login"></span>
                    </span>
                </span>
                <span>NIP Requirement</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a href="{% url 'sdd' %}"tabindex="0" title="Alerts">
                <span>
                    <span class="badge-wrapper">
                        <span class="icon-contract-login"></span>
                    </span>
                </span>
                <span>SDD Requirement</span>
            </a>
        </li>
    </ul>
</div>
</nav>